<%= form_for(@contact,url:confirm_contacts_path) do |c| %>
    <% if @contact.errors.any? %>
        <div id="error_explanation">
            <h2><%= @contact.errors.count %>件のエラーがあります</h2>
            <ul>
            <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="title col-sm-3 col-md-2">お名前</div>
      <div class="content col-sm-9 ">
        <%= c.text_field:name, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="title col-sm-3 col-md-2 ">E-mailアドレス</div>
      <div class="content col-sm-9 ">
        <%= c.text_field:email, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="title col-sm-3 col-md-2">お問い合わせ内容</div>
      <div class="content col-sm-9 ">
        <%= c.text_area:content, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" >
         <%= c.submit '確認画面へ', class: 'btn btn-primary btn-block'%>
      </div>
    </div>
<% end %>